<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <% include ../partials/nav.ejs %>
      <div class="container">

  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Event</th>
      <th scope="col">Type</th>
      <th scope="col">Index</th>
      <th scope="col">Value</th>
      <th scope="col">Decription</th>
      <th scope="col">Source</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <% if(log.length == 0){
      %>
          <tr>
              <td colspan="8">Data Not Found</td>
          </tr>
  <%  } %>
  <% for(var i=0; i < log.length; i++){
    %>
    <tr>
        <td><%= i+1 %></td>
        <td><%= log[i].events %></td>
        <td><%= log[i].type %></td>
        <td><%= log[i].index %></td>
        <td><%= log[i].value %></td>
        <td><%= log[i].dec %></td>
        <td><%= log[i].src %></td>
        <td><%= log[i].updated_time %></td>
    </tr>
<%  } %>
  </tbody>
</table>

  </body>


</html>
